.wd-list {
		margin-bottom: 20rpx;
		float: left;
		height: 160rpx;
		width: calc(50% - 33rpx);
		text-align: center;
		margin-left: 20rpx;
		.wd-link {
			color: #0094ff !important;
		}
		// &:nth-child(even) {
		// 	margin-left: 20rpx;
		// }
		
		.wd-list-box {
			position: relative;
			height: 100%;
			width: 100%;
			display: inline-flex;
			align-items: center;
			flex-direction: row;
			background: #FFFFFF;
			border-radius: 16rpx;
			padding-left: 15rpx;
			box-sizing: border-box;

			image {
				height: 100rpx;
				width: 100rpx;
			}

			.wd-device-info {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				margin-left: 10rpx;

				text {
					display: inline-block;
					font-size: 36rpx;
					color: #353535;
				}
			}



			.wd-device-name {
				display: flex;
				align-items: center;
				flex-direction: row;
				margin-top: 16rpx;
				color: #888888;
				font-size: 26rpx;

				.wd-list-static-font {
					font-size: 26rpx;
					margin-right: 10rpx;
					color: #888888;
				}
			}

			.wd-list-static {
				margin-right: 6rpx;
				margin-bottom: 6rpx;
				height: 36rpx;
				width: 36rpx;
				border-radius: 50% 50%;
				background-image: url('@/static/images/index/off-line.png');
				background-size: 100% 100%;

				&.online {
					background-image: url('@/static/images/index/online.png');
					background-size: 100% 100%;
				}
			}

			.wd-list-people {
				margin-right: 6rpx;
				margin-bottom: 6rpx;
				height: 36rpx;
				width: 36rpx;
				border-radius: 50% 50%;
				background-image: url('@/static/images/index/nobody.png');
				background-size: 100% 100%;

				&.online {
					background-image: url('@/static/images/index/someone.png');
					background-size: 100% 100%;
				}
			}

			&.wd-list-room {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0;

				>text {
					margin-top: 26rpx;
					font-size: 24rpx;
				}
			}
		}

		&.wd-list-add {
			text-align: left;

			.wd-list-box {
				width: 156rpx;
				height: 160rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				padding: 0;

				text {
					margin-top: 20rpx;
					font-size: 24rpx !important;
				}
			}

		}

	}