<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.MemberContactsMapper">
    
    <resultMap type="MemberContacts" id="MemberContactsResult">
        <result property="memberContactsId"    column="membercontacts_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="orderNum"    column="order_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMemberContactsVo">
        select membercontacts_id, member_id, name, phone, order_num, del_flag, create_time, update_time from t_membercontacts
    </sql>

    <select id="selectMemberContactsList" parameterType="MemberContacts" resultMap="MemberContactsResult">
        <include refid="selectMemberContactsVo"/>
        <where>  
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
             and del_flag = '0'
        </where>
    </select>
    
    <select id="selectMemberContactsByMemberContactsId" parameterType="Long" resultMap="MemberContactsResult">
        <include refid="selectMemberContactsVo"/>
        where membercontacts_id = #{memberContactsId}
    </select>
        
    <insert id="insertMemberContacts" parameterType="MemberContacts" useGeneratedKeys="true" keyProperty="memberContactsId">
        insert into t_membercontacts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMemberContacts" parameterType="MemberContacts">
        update t_membercontacts
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where membercontacts_id = #{memberContactsId}
    </update>

    <delete id="deleteMemberContactsByMemberContactsId" parameterType="Long">
        update t_membercontacts
        set del_flag = '2'
        where membercontacts_id = #{memberContactsId}
    </delete>

    <delete id="deleteMemberContactsByMemberContactsIds" parameterType="String">
        update t_membercontacts
        set del_flag = '2'
        where membercontacts_id in
        <foreach item="memberContactsId" collection="array" open="(" separator="," close=")">
            #{memberContactsId}
        </foreach>
    </delete>
</mapper>