<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.RoomMapper">
    
    <resultMap type="TRoom" id="TRoomResult">
        <result property="roomId"    column="room_id"    />
        <result property="name"    column="name"    />
        <result property="roomType"    column="room_type"    />
        <result property="familyId"    column="family_id"    />
        <result property="orgId"    column="org_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createById"    column="create_by_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTRoomVo">
        select room_id, name, room_type, family_id, org_id, del_flag, create_time, update_time,create_by_id from t_room
    </sql>
    <select id="selectTRoomList" parameterType="TRoom" resultMap="TRoomResult">
        <include refid="selectTRoomVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="familyId != null "> and family_id = #{familyId}</if>
            <if test="orgId != null "> and org_id = #{orgId}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectTRoomByRoomId" parameterType="Long" resultMap="TRoomResult">
        <include refid="selectTRoomVo"/>
        where room_id = #{roomId}
    </select>
    <select id="selectTRoomByFamilyId" parameterType="Long" resultMap="TRoomResult">
        <include refid="selectTRoomVo"/>
        where family_id = #{familyId} and del_flag = '0'
    </select>
    <insert id="insertTRoom" parameterType="TRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into t_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="roomType != null">room_type,</if>
            <if test="familyId != null">family_id,</if>
            <if test="orgId != null">org_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createById != null">create_by_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="roomType != null">#{roomType},</if>
            <if test="familyId != null">#{familyId},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createById != null">#{createById},</if>
         </trim>
    </insert>

    <update id="updateTRoom" parameterType="TRoom">
        update t_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="roomType != null">room_type = #{roomType},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where room_id = #{roomId}
    </update>

    <delete id="deleteTRoomByRoomId" parameterType="Long">
        update t_room
        set del_flag = '2',update_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        where room_id = #{roomId}
    </delete>

    <delete id="deleteTRoomByRoomIds" parameterType="String">
        update t_room
        set del_flag = '2',update_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        where room_id in
        <foreach item="roomId" collection="array" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </delete>
</mapper>