<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.TAdviseMapper">
    
    <resultMap type="TAdvise" id="TAdviseResult">
        <result property="adviseId"    column="advise_id"    />
        <result property="content"    column="content"    />
        <result property="memberId"    column="member_id"    />
        <result property="memberName"    column="member_name"    />
        <result property="readFlag"    column="read_flag"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
<!--这里会员名称暂无，先用手机号，后续按需调整-->
    <sql id="selectTAdviseVo">
        select
            a.advise_id,
            a.content,
            a.member_id,
            (select m.phone from  t_member m where  a.member_id=m.member_id ) as member_name,
            a.read_flag,
            a.del_flag,
            a.create_time,
            a.update_time
        from
            t_advise a
    </sql>

    <select id="selectTAdviseList" parameterType="TAdvise" resultMap="TAdviseResult">
        <include refid="selectTAdviseVo"/>
        <where>
            a.del_flag='0'
            <if test="content != null  and content != ''"> AND a.content like concat('%', #{content}, '%')</if>
            <if test="readFlag != null  and readFlag != ''"> AND a.read_flag = #{readFlag}</if>
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectTAdviseByAdviseId" parameterType="Long" resultMap="TAdviseResult">
        <include refid="selectTAdviseVo"/>
        where advise_id = #{adviseId}
    </select>
        
    <insert id="insertTAdvise" parameterType="TAdvise" useGeneratedKeys="true" keyProperty="adviseId">
        insert into t_advise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="memberId != null">member_id,</if>
            <if test="readFlag != null">read_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="readFlag != null">#{readFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
    <!--修改已读标志-->
    <update id="updateTAdvise" parameterType="TAdvise">
        update t_advise
        <trim prefix="SET" suffixOverrides=",">
            <if test="readFlag != null">read_flag = #{readFlag},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where advise_id = #{adviseId}
    </update>

    <!--一键已读操作-->
    <update id="onReadTAdvise" parameterType="TAdvise">
        update t_advise set read_flag ='1',update_time = sysdate()
        where advise_id in
        <foreach item="adviseId" collection="array" open="(" separator="," close=")">
            #{adviseId}
        </foreach>
    </update>

    <delete id="deleteTAdviseByAdviseId" parameterType="Long">
        delete from t_advise where advise_id = #{adviseId}
    </delete>

    <delete id="deleteTAdviseByAdviseIds" parameterType="String">
        delete from t_advise where advise_id in 
        <foreach item="adviseId" collection="array" open="(" separator="," close=")">
            #{adviseId}
        </foreach>
    </delete>
</mapper>