<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.TAgreementMapper">
    
    <resultMap type="TAgreement" id="TAgreementResult">
        <result property="agreementId"    column="agreement_id"    />
        <result property="content"    column="content"    />
        <result property="ver"    column="ver"    />
        <result property="type"    column="type"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTAgreementVo">
        select agreement_id, content, ver, type, del_flag, create_time, update_time from t_agreement
    </sql>

    <select id="selectTAgreementList" parameterType="TAgreement" resultMap="TAgreementResult">
        <include refid="selectTAgreementVo"/>
        <where>
            del_flag='0'
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="ver != null  and ver != ''"> and ver = #{ver}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectTAgreementByAgreementId" parameterType="Long" resultMap="TAgreementResult">
        <include refid="selectTAgreementVo"/>
        where agreement_id = #{agreementId}
        and  del_flag='0'
    </select>
        
    <insert id="insertTAgreement" parameterType="TAgreement" useGeneratedKeys="true" keyProperty="agreementId">
        insert into t_agreement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="ver != null">ver,</if>
            <if test="type != null">type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="ver != null">#{ver},</if>
            <if test="type != null">#{type},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTAgreement" parameterType="TAgreement">
        update t_agreement
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="ver != null">ver = #{ver},</if>
            <if test="type != null">type = #{type},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where agreement_id = #{agreementId}
    </update>

    <delete id="deleteTAgreementByAgreementId" parameterType="Long">
--         delete from t_agreement where agreement_id = #{agreementId}
        update t_agreement set del_flag = '2' ,update_time = sysdate() where agreement_id = #{agreementId}

    </delete>

    <delete id="deleteTAgreementByAgreementIds" parameterType="String">
--         delete from t_agreement where agreement_id in
        update  t_agreement  set del_flag = '2' ,update_time = sysdate() where agreement_id in
        <foreach item="agreementId" collection="array" open="(" separator="," close=")">
            #{agreementId}
        </foreach>
    </delete>

    <select id="selectTAgreementByAgreementType" parameterType="String" resultMap="TAgreementResult">
        <include refid="selectTAgreementVo"/>
        where type = #{agreementType} AND del_flag='0' ORDER BY create_time DESC  LIMIT 1
    </select>
</mapper>