<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.TDeviceMapper">

    <resultMap type="TDevice" id="TDeviceResult">
        <result property="deviceId" column="device_id"/>
        <result property="devicegroupId" column="devicegroup_id"/>
        <result property="deviceGroupName" column="device_group_name"/>
        <result property="name" column="name"/>
        <result property="no" column="no"/>
        <result property="status" column="status"/>
        <result property="type" column="type"/>
        <result property="parameter" column="device_parameter" javaType="com.newlandnpt.varyar.common.core.domain.entity.DeviceParameter" typeHandler="com.newlandnpt.varyar.common.core.mybatis.JSONTypeHandler"/>
        <result property="registerTime" column="register_time"/>
        <result property="location" column="location"/>
        <result property="familyId" column="family_id"/>
        <result property="familyName" column="family_name"/>
        <result property="memberId" column="member_id"/>
        <result property="memberNo" column="member_no"/>
        <result property="roomId" column="room_id"/>
        <result property="roomName" column="room_name"/>
        <result property="distributeFlag" column="distribute_flag"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="orgType" column="org_type"/>
        <result property="orgNo" column="org_no"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTDeviceVo">
        select device_id,
               devicegroup_id,
               name, no, status, type,
            register_time,
            location, family_id, member_id, room_id, distribute_flag, org_id, del_flag, create_by, create_time, update_by, update_time,
            (select name from t_devicegroup where devicegroup_id = d.devicegroup_id) device_group_name,
            (select type from t_org where org_id = d.org_id) org_type,
            (select org_no from t_org where org_id = d.org_id) org_no,
            (select org_name from t_org where org_id = d.org_id) org_name,
            (select no from t_member where member_id = d.member_id) member_no,
            (select name from t_family where family_id = d.family_id) family_name,
            (select name from t_room where room_id = d.room_id) room_name
        from t_device d
    </sql>
    <sql id="selectTDeviceByMemberId">
        select tf.family_id , r.room_id
        from t_room r
        join t_family tf on tf.family_id = r.family_id and tf.del_flag ="0"
        join t_member_family tmf on tmf.family_id = tf.family_id and tmf.del_flag ="0"
    </sql>
    <sql id="parameter">
        #{parameter,javaType=com.newlandnpt.varyar.common.core.domain.entity.DeviceParameter,typeHandler = com.newlandnpt.varyar.common.core.mybatis.JSONTypeHandler}
    </sql>

    <select id="selectTDeviceList" parameterType="TDevice" resultMap="TDeviceResult">
        <include refid="selectTDeviceVo"/>
        <where>
            <if test="devicegroupId != null ">and devicegroup_id = #{devicegroupId}</if>
            <if test="params.arrangeDeviceGroup != null ">
                <if test='params.arrangeDeviceGroup == "false" '>
                    and devicegroup_id is null
                </if>

                <if test='params.arrangeDeviceGroup == "true" '>
                    and devicegroup_id is not null
                </if>
            </if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="no != null  and no != ''">and no = #{no}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="registerTime != null ">and register_time = #{registerTime}</if>
            <if test="location != null  and location != ''">and location = #{location}</if>
            <if test="familyId != null ">and family_id = #{familyId}</if>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="roomId != null ">and room_id = #{roomId}</if>
            <if test="distributeFlag != null  and distributeFlag != ''">and distribute_flag = #{distributeFlag}</if>
            <if test="orgId != null ">and org_id = #{orgId}</if>
            <if test="orgName != null  and orgName != ''">and org_name like concat('%', #{orgName}, '%')</if>
            and del_flag = '0'
            <!-- 数据范围过滤 -->
            ${params.dataScope}
            <if test='params.order_registerTime != null and params.order_registerTime == "asc" '>
                order by register_time
            </if>
            <if test='params.order_registerTime != null and params.order_registerTime == "desc"'>
                order by register_time  desc
            </if>
        </where>
    </select>

    <select id="selectByMemberId" parameterType="Map" resultMap="TDeviceResult">
        select ta.* from t_device ta join (
        <include refid="selectTDeviceByMemberId"/> and tmf.member_id = #{memberId}
        where r.del_flag ="0" and r.room_id = #{roomId} and r.family_id = #{familyId}) trm on trm.family_id =  ta.family_id and trm.room_id = ta.room_id
    </select>

    <select id="selectTDeviceByDeviceId" parameterType="Long" resultMap="TDeviceResult">
        <include refid="selectTDeviceVo"/>
        where device_id = #{deviceId}
        and del_flag = '0'
    </select>
    <select id="selectBizCareDeviceList" parameterType="Long" resultMap="TDeviceResult">
        <include refid="selectTDeviceVo"/>
        where (
            (d.devicegroup_id in (select dg.devicegroup_id from t_devicegroup dg where dg.user_id = #{userId}))
            or (d.member_id in (select m.member_id from t_member m where m.user_id = #{userId}))
        )
        and del_flag = '0'
    </select>

    <insert id="insertTDevice" parameterType="TDevice" useGeneratedKeys="true" keyProperty="deviceId">
        insert into t_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="devicegroupId != null">devicegroup_id,</if>
            <if test="name != null">name,</if>
            <if test="no != null">no,</if>
            <if test="status != null">status,</if>
            <if test="type != null">type,</if>
            <if test="parameter != null">device_parameter,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="location != null">location,</if>
            <if test="familyId != null">family_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="roomId != null">room_id,</if>
            <if test="distributeFlag != null">distribute_flag,</if>
            <if test="orgId != null">org_id,</if>
            <if test="orgName != null">org_name,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="devicegroupId != null">#{devicegroupId},</if>
            <if test="name != null">#{name},</if>
            <if test="no != null">#{no},</if>
            <if test="status != null">#{status},</if>
            <if test="type != null">#{type},</if>
            <if test="parameter != null"><include refid="parameter"/>,</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="location != null">#{location},</if>
            <if test="familyId != null">#{familyId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="distributeFlag != null">#{distributeFlag},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateTDevice" parameterType="TDevice">
        update t_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="devicegroupId != null">devicegroup_id = #{devicegroupId},</if>
            <if test="name != null">name = #{name},</if>
            <!--设备编号不允许修改<if test="no != null">no = #{no},</if>-->
            <if test="status != null">status = #{status},</if>
            <if test="type != null">type = #{type},</if>
            <if test="parameter != null">device_parameter = <include refid="parameter"/>,</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="location != null">location = #{location},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="distributeFlag != null">distribute_flag = #{distributeFlag},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteTDeviceByDeviceId" parameterType="Long">
        update t_device
        set del_flag = '2'
        where device_id = #{deviceId}
    </delete>

    <delete id="deleteTDeviceByDeviceIds" parameterType="String">
        update t_device
        set del_flag = '2'
        where device_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>

    <select id="selectByDeviceNo" parameterType="String" resultMap="TDeviceResult">
        <include refid="selectTDeviceVo"/>
        where no = #{deviceNo} and del_flag = '0' limit 1
    </select>

    <update id="arrangeDeviceToGroup" parameterType="map">
        update t_device
        set devicegroup_id = #{deviceGroupId},
        <if test="updateBy != null and updateBy != ''">
            update_by = #{updateBy},
        </if>
        update_time = sysdate()
        where device_id in
        <foreach item="deviceId" collection="deviceIds" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </update>
    <update id="clearDeviceGroup" parameterType="map">
        update t_device
        set devicegroup_id = null,
        <if test="updateBy != null and updateBy != ''">
            update_by = #{updateBy},
        </if>
        update_time = sysdate()
        where devicegroup_id = #{deviceGroupId}
    </update>
</mapper>