<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.TEventMapper">
    
    <resultMap type="TEvent" id="TEventResult">
        <result property="eventId"    column="event_id"    />
        <result property="no"    column="no"    />
        <result property="level"    column="level"    />
        <result property="content"    column="content"    />
        <result property="deviceId"    column="device_id"    />
        <result property="devicegroupId"    column="devicegroup_id"    />
        <result property="familyId"    column="family_id"    />
        <result property="deviceNo"    column="device_no"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceType"    column="device_type"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="orgType"    column="org_type"    />
        <result property="operateType"    column="operate_type"    />
        <result property="memberId"    column="member_id"    />
        <result property="memberPhone"    column="member_phone"    />
        <result property="memberName"    column="member_name"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="operateTime"    column="operate_time"    />
        <result property="operateFlag"    column="operate_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="TEventList" id="TEventListResult">
        <result property="familyId"    column="family_id"    />
        <result property="level"    column="level"    />
        <result property="type"    column="type"    />
        <result property="content"    column="content"    />
        <result property="operateFlag"    column="operate_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTEventVo">
                         SELECT
                             eve.event_id,
                             eve.no,
                             eve.level,
                             eve.content,
                             eve.device_id,
                             eve.devicegroup_id,
                             eve.family_id,
                             eve.device_no,
                             dev.name as device_name,
                             dev.type as device_type,
                             eve.org_id,
                             eve.org_name,
                             org.type as org_type,
                             eve.operate_type,
                             eve.member_id,
                             eve.member_phone,
                             eve.member_name,
                             eve.user_id,
                             eve.user_name,
                             eve.operate_time,
                             eve.operate_flag,
                             eve.create_time,
                             eve.update_time
                         FROM
                             t_event eve
                         left join t_device dev
                         on eve.device_id = dev.device_id
                         left join t_org org
                                   on eve.org_id = org.org_id
    </sql>


    <select id="selectTEventList" parameterType="TEvent" resultMap="TEventResult">
        <include refid="selectTEventVo"/>
        <where>  
            <if test="no != null  and no != ''"> and eve.no = #{no}</if>
            <if test="level != null  and level != ''"> and eve.level = #{level}</if>
            <if test="content != null  and content != ''"> and eve.content = #{content}</if>
            <if test="deviceId != null "> and eve.device_id = #{deviceId}</if>
            <if test="devicegroupId != null "> and eve.devicegroup_id = #{devicegroupId}</if>
            <if test="familyId != null "> and eve.family_id = #{familyId}</if>
            <if test="deviceNo != null  and deviceNo != ''"> and eve.device_no like concat('%', #{deviceNo}, '%')</if>

            <if test="deviceName != null  and deviceName != ''"> and dev.name like concat('%', #{deviceName}, '%') </if>

            <if test="deviceType != null  and deviceType != ''"> and dev.type = #{deviceType}</if>

            <if test="orgId != null "> and eve.org_id = #{orgId}</if>
            <if test="orgName != null  and orgName != ''"> and eve.org_name like concat('%', #{orgName}, '%')</if>
            <if test="operateType != null  and operateType != ''"> and eve.operate_type = #{operateType}</if>
            <if test="memberId != null "> and eve.member_id = #{memberId}</if>
            <if test="params.memberEvent != null "> and eve.member_id is not null</if>
            <if test="memberPhone != null  and memberPhone != ''"> and eve.member_phone = #{memberPhone}</if>
            <if test="memberName != null  and memberName != ''"> and eve.member_name like concat('%', #{memberName}, '%')</if>
            <if test="userId != null "> and eve.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and eve.user_name like concat('%', #{userName}, '%')</if>
<!--            <if test="operateTime != null "> and eve.operate_time = #{operateTime}</if>-->
            <if test="operateFlag != null  and operateFlag != ''"> and eve.operate_flag = #{operateFlag}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(eve.operate_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(eve.operate_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        Order By eve.create_time desc
    </select>
    
    <select id="selectTEventByEventId" parameterType="Long" resultMap="TEventResult">
        <include refid="selectTEventVo"/>
        where event_id = #{eventId}
    </select>
        
    <insert id="insertTEvent" parameterType="TEvent" useGeneratedKeys="true" keyProperty="eventId">
        insert into t_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="no != null">no,</if>
            <if test="level != null">level,</if>
            <if test="content != null">content,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="devicegroupId != null">devicegroup_id,</if>
            <if test="familyId != null">family_id,</if>
            <if test="deviceNo != null">device_no,</if>
            <if test="orgId != null">org_id,</if>
            <if test="orgName != null">org_name,</if>
            <if test="operateType != null">operate_type,</if>
            <if test="memberId != null">member_id,</if>
            <if test="memberPhone != null">member_phone,</if>
            <if test="memberName != null">member_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="operateTime != null">operate_time,</if>
            <if test="operateFlag != null">operate_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="no != null">#{no},</if>
            <if test="level != null">#{level},</if>
            <if test="content != null">#{content},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="devicegroupId != null">#{devicegroupId},</if>
            <if test="familyId != null">#{familyId},</if>
            <if test="deviceNo != null">#{deviceNo},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="operateType != null">#{operateType},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="memberPhone != null">#{memberPhone},</if>
            <if test="memberName != null">#{memberName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="operateTime != null">#{operateTime},</if>
            <if test="operateFlag != null">#{operateFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTEvent" parameterType="TEvent">
        update t_event
        <trim prefix="SET" suffixOverrides=",">
            <if test="no != null">no = #{no},</if>
            <if test="level != null">level = #{level},</if>
            <if test="content != null">content = #{content},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="devicegroupId != null">devicegroup_id = #{devicegroupId},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="deviceNo != null">device_no = #{deviceNo},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="operateType != null">operate_type = #{operateType},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="memberPhone != null">member_phone = #{memberPhone},</if>
            <if test="memberName != null">member_name = #{memberName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
            <if test="operateFlag != null">operate_flag = #{operateFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where event_id = #{eventId}
    </update>

    <delete id="deleteTEventByEventId" parameterType="Long">
        delete from t_event where event_id = #{eventId}
    </delete>

    <delete id="deleteTEventByEventIds" parameterType="String">
        delete from t_event where event_id in 
        <foreach item="eventId" collection="array" open="(" separator="," close=")">
            #{eventId}
        </foreach>
    </delete>

    <select id="selectEventCountByFlag" parameterType="String" resultType="Integer">
        select count(content) from t_event
        where operate_flag = #{operateFlag}
    </select>

    <select id="selectEventCount" parameterType="String" resultType="Integer">
        select count(content) from t_event
        where 1=1
    </select>

    <select id="selectEventInfo" parameterType="EventRequest" resultMap="TEventListResult">
<!--        <include refid="selectTEventVo"/>-->
        select
        eve.family_id      ,
        eve.level          ,
        eve.content        ,
        eve.operate_flag   ,
        eve.create_time    ,
        eve.update_time    ,
        dev.type
        from t_event eve
        left join t_device dev ON eve.device_id =dev.device_id
        <where>
            <if test="familyId != null  and familyId != ''">eve.family_id = #{familyId}</if>
            <if test="level != null  and level != ''"> and eve.level = #{level}</if>
            <if test="type != null  and type != '' "> and dev.type = #{type}</if>
            <if test="operateFlag != null  and operateFlag != ''"> and eve.operate_flag = #{operateFlag}</if>
            <if test="startTime != null  and endTime != null"> and eve.create_time between #{startTime} and #{endTime}</if>
        </where>
        ORDER BY eve.create_time DESC
    </select>

    <update id="dealNotMemberEvents">
        update t_event set operate_type = '1',operate_flag = '1',operator_id= #{operatorId},operator_type = #{operatorType},operate_time = sysdate(),update_time = sysdate()
        where
        event_id in
        <foreach item="eventId" collection="eventIds" open="(" separator="," close=")">
            #{eventId}
        </foreach>
        and member_id is null;
    </update>

</mapper>