<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.TMemberFamilyMapper">

    <resultMap type="TMemberFamily" id="TMemberFamilyResult">
        <result property="memberFamilyId" column="member_family_id"/>
        <result property="memberId" column="member_id"/>
        <result property="phone" column="phone"/>
        <result property="familyId" column="family_id"/>
        <result property="createMemberId" column="create_member_id"/>
        <result property="shareFlag" column="share_flag"/>
        <result property="delFlag" column="del_flag"/>
        <result property="phone" column="phone"/>
        <result property="userName" column="userName"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTMemberFamilyVo">
        select member_family_id,
               member_id,
               family_id,
               create_member_id,
               share_flag,
               del_flag,
               create_time,
               update_time,
               phone,
               (select m.phone from t_member m where mf.member_id = m.member_id) as userName
        from t_member_family mf
    </sql>

    <select id="selectTMemberFamilyList" parameterType="TMemberFamily" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="familyId != null ">and family_id = #{familyId}</if>
            <if test="createMemberId != null ">and create_member_id = #{createMemberId}</if>
            <if test="shareFlag != null  and shareFlag != ''">and share_flag = #{shareFlag}</if>
            <if test="phone != null  and phone != ''">and phone = #{phone}</if>
            and del_flag = '0'
        </where>
    </select>

    <select id="selectTMemberFamilyByMemberFamilyId" parameterType="Long" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        where member_family_id = #{memberFamilyId}
    </select>

    <select id="selectTMemberFamilyByFamilyId" parameterType="Map" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        where family_id = #{familyId} and create_member_id = #{memberId}  and del_flag ='0'
    </select>
    <select id="selectTMemberFamilyByShare" parameterType="Map" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        where family_id = #{familyId} and member_id = #{memberId}  and del_flag ='0' and share_flag ='0'
    </select>

    <select id="selectTMemberFamilyByPhone" parameterType="String" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        where phone = #{phone}
    </select>
    <select id="selectTMemberFamilyByMember" parameterType="Long" resultMap="TMemberFamilyResult">
    <include refid="selectTMemberFamilyVo"/>
    where member_id = #{memberId}
    </select>
    <select id="selectTMemberFamilyByshare" parameterType="Long" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        where member_id = #{memberId} and del_flag='0' and share_flag='0'
    </select>
    <select id="selectTMemberFamilyByCreMember" parameterType="Long" resultMap="TMemberFamilyResult">
        <include refid="selectTMemberFamilyVo"/>
        where create_member_id = #{memberId}  and del_flag='0' and share_flag='2'
    </select>
    <insert id="insertTMemberFamily" parameterType="TMemberFamily" useGeneratedKeys="true" keyProperty="memberFamilyId">
        insert into t_member_family
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null">member_id,</if>
            <if test="familyId != null">family_id,</if>
            <if test="createMemberId != null">create_member_id,</if>
            <if test="shareFlag != null">share_flag,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="phone != null">phone,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null">#{memberId},</if>
            <if test="familyId != null">#{familyId},</if>
            <if test="createMemberId != null">#{createMemberId},</if>
            <if test="shareFlag != null">#{shareFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTMemberFamily" parameterType="TMemberFamily">
        update t_member_family
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="createMemberId != null">create_member_id = #{createMemberId},</if>
            <if test="shareFlag != null">share_flag = #{shareFlag},</if>
            <if test="phone != null">phone =#{phone},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where member_family_id = #{memberFamilyId}
    </update>

    <delete id="deleteTMemberFamilyByMemberFamilyId" parameterType="Long">
    <!--> 中间表数据物理删除<-->
        update t_member_family set del_flag = '2',update_time = DATE_FORMAT(NOW(),'%Y-%m-%d %H:%i:%s')
        where member_family_id = #{memberFamilyId}
    </delete>

    <delete id="deleteTMemberFamilyByMemberFamilyIds" parameterType="String">
        delete from t_member_family where member_family_id in
        <foreach item="memberFamilyId" collection="array" open="(" separator="," close=")">
            #{memberFamilyId}
        </foreach>
    </delete>
</mapper>