<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlandnpt.varyar.system.mapper.TMsgMapper">

    <resultMap type="TMsg" id="TMsgResult">
        <result property="msgId"    column="msg_id"    />
        <result property="msgType"    column="msg_type"    />
        <result property="no"    column="no"    />
        <result property="content"    column="content"    />
        <result property="eventId"    column="event_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="familyId"    column="family_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="operator"    column="operator"    />
        <result property="sendStatus"    column="send_status"    />
        <result property="reason"    column="reason"    />
        <result property="operateFlag"    column="operate_flag"    />
        <result property="sendTime"    column="send_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceName"    column="device_name"    />
    </resultMap>

    <sql id="selectTMsgVo">
        select m.msg_id, m.msg_type,m.device_type,m.event_level, m.no, m.content, m.event_id, m.device_id, m.family_id, m.member_id, m.operator, m.send_status, m.reason, m.operate_flag, m.send_time, m.create_time, m.update_time,(select td.name from t_device td where td.device_id = m.device_id) as device_name from t_msg m
    </sql>
    <sql id="selectTMsgByMemberId">
        select tm.msg_id, tm.msg_type, tm.device_type, tm.event_level, tm.no, tm.content, tm.event_id, tm.device_id, tm.family_id, tm.member_id, tm.operate_flag, tm.create_time,
               tm.update_time  from  t_msg tm join t_member_family  tmf on tm.family_id = tmf.family_id
    </sql>

    <select id="selectTMsgList" parameterType="TMsg" resultMap="TMsgResult">
        <include refid="selectTMsgVo"/>
        <where>
            <if test="msgType != null  and msgType != ''"> and m.msg_type = #{msgType}</if>
            <if test="deviceType != null  and deviceType != ''"> and m.device_type = #{deviceType}</if>
            <if test="eventLevel != null  and eventLevel != ''"> and m.event_level = #{eventLevel}</if>
            <if test="no != null  and no != ''"> and m.no = #{no}</if>
            <if test="content != null  and content != ''"> and m.content = #{content}</if>
            <if test="eventId != null "> and m.event_id = #{eventId}</if>
            <if test="deviceId != null "> and m.device_id = #{deviceId}</if>
            <if test="familyId != null "> and m.family_id = #{familyId}</if>
            <if test="memberId != null "> and m.member_id = #{memberId}</if>
            <if test="operator != null  and operator != ''"> and m.operator = #{operator}</if>
            <if test="sendStatus != null  and sendStatus != ''"> and m.send_status = #{sendStatus}</if>
            <if test="reason != null  and reason != ''"> and m.reason = #{reason}</if>
            <if test="operateFlag != null  and operateFlag != ''"> and m.operate_flag = #{operateFlag}</if>
            <if test="sendTime != null "> and m.send_time = #{sendTime}</if>
            <if test="startDate != null "> and m.create_time <![CDATA[>=]]> #{startDate}</if>
            <if test="endDate != null "> and m.create_time  <![CDATA[<=]]> #{endDate}</if>
        </where>
    </select>

    <select id="selectTMsgByMemberId" parameterType="Long" resultMap="TMsgResult">
        <include refid="selectTMsgByMemberId"/>
        <where>
            <if test="memberId != null  and memberId != ''"> and tmf.member_id = #{memberId}</if>
        </where>
    </select>

    <select id="selectTMsgByMsgId" parameterType="Long" resultMap="TMsgResult">
        <include refid="selectTMsgVo"/>
        where msg_id = #{msgId}
    </select>

    <insert id="insertTMsg" parameterType="TMsg" useGeneratedKeys="true" keyProperty="msgId">
        insert into t_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msgType != null">msg_type,</if>
            <if test="no != null">no,</if>
            <if test="content != null">content,</if>
            <if test="eventId != null">event_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="familyId != null">family_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="operator != null">operator,</if>
            <if test="sendStatus != null">send_status,</if>
            <if test="reason != null">reason,</if>
            <if test="operateFlag != null">operate_flag,</if>
            <if test="sendTime != null">send_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msgType != null">#{msgType},</if>
            <if test="no != null">#{no},</if>
            <if test="content != null">#{content},</if>
            <if test="eventId != null">#{eventId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="familyId != null">#{familyId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="operator != null">#{operator},</if>
            <if test="sendStatus != null">#{sendStatus},</if>
            <if test="reason != null">#{reason},</if>
            <if test="operateFlag != null">#{operateFlag},</if>
            <if test="sendTime != null">#{sendTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateTMsg" parameterType="TMsg">
        update t_msg
        <trim prefix="SET" suffixOverrides=",">
            <if test="msgType != null">msg_type = #{msgType},</if>
            <if test="no != null">no = #{no},</if>
            <if test="content != null">content = #{content},</if>
            <if test="eventId != null">event_id = #{eventId},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="familyId != null">family_id = #{familyId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="sendStatus != null">send_status = #{sendStatus},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="operateFlag != null">operate_flag = #{operateFlag},</if>
            <if test="sendTime != null">send_time = #{sendTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where msg_id = #{msgId}
    </update>

    <delete id="deleteTMsgByMsgId" parameterType="Long">
        delete from t_msg where msg_id = #{msgId}
    </delete>

    <delete id="deleteTMsgByMsgIds" parameterType="String">
        delete from t_msg where msg_id in
        <foreach item="msgId" collection="array" open="(" separator="," close=")">
            #{msgId}
        </foreach>
    </delete>

    <select id="selectMsgCountByFlag" parameterType="String" resultType="Integer">
        select count(content) from t_msg
        where operate_flag = #{operateFlag}
    </select>

    <select id="selectMsgCount" parameterType="String" resultType="Integer">
        select count(content) from t_msg
        where 1=1
    </select>

</mapper>